
	#header
	{
		height:250px;
		width:100px;
		background-color:#0a6dbb;
		margin-left:10px;
		margin-right:10px;
		position:fixed;
		float:top;
		margin-top:-25px;
		margin-bottom:5px solid white;
		border-right:900px solid white;
		border-top:10px solid white;
		z-index:10;
	}

	#mail
	{
		display:inline-block;
		font-family:Stencil;
		color:#0a6dbb;
		margin-left:480px;
		position:fixed;
		margin-top:142px;
	}

	#names
	{
	margin-left:120px;
	color:#2a0094;
	font-family:Stencil;
	font-size:50px;
	display:inline-block;
	margin-top:100px;
	position:fixed;
	z-index:1;
	}

	#dev
	{
		margin-top:163px;
		margin-left:35px;
		font-size:30px;
		color:black;
	}

	#one
	{
		height:2px;
		width:1000px;
		background-color:#0a6dbb;
		margin-top:-48px;
		position:relative;
		z-index:10;
	}


	#two
	{
		height:2px;
		width:1000px;
		background-color:#0a6dbb;
		margin-top:2px;
		position:relative;
		z-index:10;
	}

	#three
	{
		height:2px;
		width:1000px;
		background-color:#0a6dbb;
		margin-top:2px;
		position:relative;
		z-index:10;
	}

	span
	{
	color:white;
	 font-size:90px;
	}

	.left
	{
		border-radius:10px;
		background-color:#0a6dbb;
		width:50px;
		height:380px;
		position:fixed;
		top:280px;
		float:left;
		left:20px;
		z-index:9;
	}

	#inleft
	{
		height:340px;
		width:160px;
		float:left;
		position:fixed;
		left:70px;
		top:285px;
		background-color:#f7f7f7;
		border-radius:10px;
		border:10px solid #f7f7f7;
		z-index:9;
		}

	#strength
	{
		position:relative;
		margin-left:20px;
		margin-top:5px;
		font-family:Aldhabi;
		font-size:40px;
		
	}	

	#stre
	{
		font-family:Aldhabi;
		margin-top:-50px;
		margin-left:-20px;
	}

	#ed
	{
	height:170px;
	width:740px;
	position:relative;
	background-color:white;
	top:265px;
	margin-left:275px;
	border-radius:10px;
	}

	#prof
	{
		position:relative;
		color:white;
		height:40px;
		width:405px;
		background-color:black;
		font-size:25px;
		border-radius:10px;
		padding-left:210px;
		padding-top:5px;
	}
	
	#profile
	{
		position:relative;
		height:100px;
		width:700px;
		top:-20px;
		background-color:#f7f7f7;
		border-radius:10px;
		border:10px solid white;
		border-radius:10px;
		color:black;
		font-size:15px;
		padding:10px;
		border-bottom:20px solid white;
	}



	#skillt
	{
		height:245px;
		width:740px;
		background-color:white;
		color:white;
		position:relative;
		left:275px;
		top:270px;
		border-radius:10px;
		}
		
	#sk
	{
		font-size:25px;
		position:relative;
		background-color:black;
		border-radius:10px;
		padding-left:270px;
		padding-top:5px;
		height:40px;
		width:355px;
	}
	
	#skills
	{
		height:150px;
		width:720px;
		background-color:#f7f7f7;
		color:black;
		position:relative;
		margin-top:-15px;
		border:10px solid white;
		font-size:15px;
	}

	#education
	{
		height:665px;
		width:735px;
		background-color:white;
		border-radius:10px;
		margin-top:270px;
		margin-left:275px;
		color:white;
		font-size:25px;
	}
	#educ
	{
		position:relative;
		background-color:black;
		color:white;
		border-radius:10px;
		height:40px;
		width:370px;
		padding-top:5px;
		padding-left:250px;
	}
	
	#school
	{
		height:610px;
		width:720px;
		background-color:#f7f7f7;
		position:relative;
		color:black;
		font-size:15px;
		border:10px solid white;
		border-top:30px solid white;
		border-left:10px solid white;
		margin-top:-25px;
		padding-top:5px;
	}
	
	#autodidact
	{
		background-color:#4d4e53;
		position:relative;
		height:25px;
		width:200px;
		border-radius:10px;
		color:white;
		padding:5px;
		margin-left:5px;
	}
	
	#didact
	{
		margin-left:20px;
	}
	
	#listdidact
	{
		margin-left:20px;
	}
	
	#duration
	{
		border-radius:10px;
		position:relative;
		height:25px;
		width:200px;
		color:white;
		background-color:#4d4e53;
		padding:5px;
		border-left:200px;
		margin-left:5px;
		}
	
	#dip
	{
		margin-left:20px;
	}
	
	#name
	{
		font-size:20px;
		margin-left:30px;
	}
	
	#foundation
	{
	font-size:15px;
	margin-left:40px;
	}
	
	#level
	{
		border-radius:10px;
		position:relative;
		height:25px;
		width:200px;
		color:white;
		background-color:#4d4e53;
		padding:5px;
		margin-left:5px;
	}
	
	#As
	{
		margin-left:20px;
	}
	
	#khan
	{
		font-size:20px;
		margin-left:30px;
	}
	
	#Os
	{
		border-radius:10px;
		position:relative;
		height:25px;
		width:200px;
		color:white;
		background-color:#4d4e53;
		padding:5px;
		margin-left:5px;
	}
	
	#olevel
	{
		margin-left:20px;
		font-size:20px;
	}
	
	#london
	{
		font-size:20px;
		margin-left:30px;
	}
	
	#aboutme
	{
		border-radius:5px;
		height:320px;
		width:220px;
		background-color:white;
		margin-left:1020px;
		margin-top:-1125px;
		clear:left;
		color:white;
		border-radius:10px;
	}
	
	#me
	{
		position:relative;
		height:300px;
		background-color:#0a6dbb;
		border-radius:10px;
		margin-top:-15px;
		margin-left:5px;
		margin-right:5px;
		padding-left:60px;
		
	}

	 #stuff
	 {
		height:200px;
		width:200px;
		background-color:white;
		color:black;
		position:relative;
		margin-top:-270px;
		margin-left:10px;
		padding-top:10px;
	 }
	 
	 #ook
	 {
		font-size:16x;
		margin:5px;
	 }
	 
	 a
	 {
	 text-decoration:none;
	 }
	 
	 a#faceb
	 {
	 border-radius:30px;
	 border:3px solid white;
	 padding:5px;
	 padding-left:10px;
	 padding-right:10px;
	 position:relative;
	 left:30px;
	 color:black;
	 font-family:Tahoma;
	 }
	 
	 a#faceb:link
	 {
		color:black;
		boder-color:white;
	 }
	 
	 a#faceb:hover
	 {
		border-color:#3B5998;
		color:#3B5998;
	 }
	 
	 a#faceb:visited
	 {
		border-color:#3B5998;
		color:#3B5998;
	 }
	 a#twirra
	 {
	 display:inline;
	 position:relative;
	 left:40px;
	 font-size:20px;
	 border-radius:30px;
	 border:3px solid white;
	 padding-left:10px;
	 padding-right:10px;
	 padding-top:3px;
	 padding-bottom:3px;
	 color:black;
	 font-family:Gotham;
	 }
	 
	 a#twirra:link
	 {
	 color:black;
	 border-color:white;
	 }
	 
	 a#twirra:hover
	 {
	 color:#4099FF;
	 border-color:#4099FF;
	 }
	 
	 a#twirra:visited
	 {
		color:#4099FF;
	 border-color:#4099FF;
	 }
	 
