/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}
/*
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}
*/
footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style: inside;
  padding-left: 20px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/

body
{
	height:737px;
	width:1260px;
	background-color:black;
}

img
{
height:200px;
width:200px;
}

hr
{
	margin:17px;
}

/************************************************************************
cube script
*************************************************************/
#personal
{
	background-color:#252525;
	position:absolute;
	top:5px;
	left:-2px;
	height:720px;
	width:720px;
	text-align:center;
	font-weight:bold;
	color:white;
	-webkit-transform:rotateX( 0deg ) translateZ( 360px );
	-moz-transform:rotateX( 0deg ) translateZ( 360px );
	-o-transform:rotateX( 0deg ) translateZ( 360px );
	transform: rotateX( 0deg ) translateZ( 360px );
}

#education
{
	background:linear-gradient(to bottom, black, #323232);
	position:absolute;
	top:265px;
	left:-2px;
	height:720px;
	width:720px;
	color:white;
	text-align:left;
	-webkit-transform:rotateX( -90deg ) translateZ( 100px );
    -moz-transform:rotateX( -90deg ) translateZ( 100px );
    -o-transform:rotateX( -90deg ) translateZ( 100px );
	transform: rotateX( -90deg ) translateZ( 100px );
}

.show-education
{
	-webkit-transform: rotateX( 90deg ) translateZ(-5px);
	-moz-transform: rotateX( 90deg ) translateZ(-5px);
	-o-transform: rotateX( 90deg ) translateZ(-5px);
	transform: rotateX(90deg) translateZ(-5px);
}

#contacts
{
	background:linear-gradient(to bottom, black, #323232);
	position:absolute;
	top:-253px;
	left:-2px;
	height:720px;
	width:720px;
	text-align:center;
	color:white;
	font-weight:bold;
	-webkit-transform:rotateX( 90deg ) translateZ( 100px );
	-moz-transform:rotateX( 90deg ) translateZ( 100px );
	-o-transform:rotateX( 90deg ) translateZ( 100px );
	transform:rotateX(90deg) translateZ( 100px );
}

.show-contacts
{
	-webkit-transform: rotateX( -90deg ) translateZ(5px);
	-moz-transform: rotateX( -90deg ) translateZ(5px);
	-o-transform: rotateX( -90deg ) translateZ(5px);
	transform: rotateX(-90deg) translateZ(5px);
}

#experience
{
	background:linear-gradient(to bottom, black, #323232);
	position:absolute;
	top:5px;
	left:-262px;
	height:720px;
	width:720px;
	text-align:center;
	color:white;
	-webkit-transform:rotateY( -90deg ) translateZ( 100px );
	-moz-transform:rotateY( -90deg ) translateZ( 100px );
	-o-transform:rotateY( -90deg ) translateZ( 100px );
	transform: rotateY(-90deg) translateZ( 100px );
}

.show-experience
{
	-webkit-transform: rotateY( 90deg ) translateZ(-2px);
	-moz-transform: rotateY( 90deg ) translateZ(-2px);
	-o-transform: rotateY( 90deg ) translateZ(-2px);
	transform: rotateY( 90deg ) translateZ(-2px);
}

#projects
{
	background:linear-gradient(to bottom, black, #323232);
	position:absolute;
	top:5px;
	left:241px;
	height:720px;
	width:720px;
	text-align:center;
	color:white;
	-webkit-transform:rotateY( 90deg ) translateZ( 100px );
	-moz-transform:rotateY( 90deg ) translateZ( 100px );
	-o-transform:rotateY( 90deg ) translateZ( 100px );
	transform:rotateY( 90deg ) translateZ( 100px );
	}

.show-projects
{
	-webkit-transform: rotateY( -90deg ) translateZ(2px);
	-moz-transform: rotateY( -90deg ) translateZ(2px);
	-o-transform: rotateY( -90deg ) translateZ(2px);
	transform: rotateY( -90deg ) translateZ(2px);
}

#skill
{
	background:linear-gradient(to bottom, black, #323232);
	position:absolute;
	top:5px;
	left:-2px;
	height:720px;
	width:720px;
	text-align:center;
	color:white;
	font-weight:bold;
	-webkit-transform:rotateX( 180deg ) translateZ( 360px );
	-moz-transform:rotateX( 180deg ) translateZ( 360px );
	-o-transform:rotateX( 180deg ) translateZ( 360px );
	transform:rotateX( 180deg ) translateZ( 360px );
	overflow-y:scroll;
	overflow-x:hidden;
	}

.show-skill
{
	-webkit-transform: rotateX(180deg) translateY(-10px);
	-moz-transform: rotateX(180deg) translateY(-10px);
	-o-transform: rotateX(180deg) translateY(-10px);
	transform: rotateX(180deg) translateY(-10px);
}

#cube
{
	position:absolute;
	left:180px;
	top:10px;
	height:720px;
	width:720px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration:1s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/****cube script end****/

/****menu****/

#home, #ed, #con, #pro, #exp, #sks
{
	position:relative;
	top:40px;
	left:-22px;
	margin-top:10px;
	padding:5px 5px 5px 5px;
	list-style-type:none;
	font-weight:bold;
	color:white;
	background-color:#252525;
	border:1px solid grey;
	border-radius:10px;
	width:100px;
	text-align:center;
	opacity:1;
	
}

#leftmenu
{
position:absolute;
top:20px;
left:70px;
height:700px;
width:150px;
background-color:#252525;
opacity:.9;
left:10px;
z-index:5;
}

#leftmenu ul
{
	position:absolute;
	left:30px;
}

/****menu end********/

/****content start******/

.personalprof
{
	padding: 20px;
	font-size:1.2em;
}

.skill
{
font-size:1.2em;
}


#skill .row
{
padding:0px 15px 0px 15px;
}

#me
{
	height:270px;
	width:270px;
	position:relative;
	top:20px;
	margin-right:10px;
	float:left;
	display:inline;
}

#education h1
{
	text-align:center;
	font-weight:bold;
}

#projects .row
{
	padding:20px;
}

#education .row
{
	padding:10px 0px 10px 20px;
}

.time
{
	border:1px solid #cccccc;
	padding:5px 15px 5px 15px;
	width:320px;
	border-radius:10px;
	/*background-color:#323232;*/
	color:white;
	font-weight:bold;
	text-align:center;
}

.left
{
	text-align:left;
	margin-left:20px;
	margin-right:20px;
}

.left p
{	
	margin-left:40px;
}

#screenshot
{
	width:300px;
	height:250px;
}

#contacts img
{
	height:100px;
	width:100px;
	margin-bottom:20px;
}

#contacts row
{
	margin-top:20px;
}

.title
{
	margin-left:20px;
}

.qual
{
	margin-left:30px;
}

#edscroll
{
	position:absolute;
	height:625px;
	width:720px;
	overflow-y:scroll;
	overflow-x:hidden;
}

/***right start*****/
.right
{
	position:absolute;
	top:15px;
	left:920px;
	height:700px;
}

.strength
{
font-size:1.2em;
position:absolute;
top:20px;
left:0px;
background-color:#323232;
opacity:.9;
color:white;
text-align:center;
}

.lists
{
	text-align:left;
	list-style-type:circle;
	list-style-position:inside;
	font-size:1em;
	line-height:120%;
	margin-top:40px;
}

#links
{
	position:absolute;
	top:350px;
	left:40px;
}

#links a
{
	display:block;
	font-size:1.6em;
	border:3px solid grey;
	border-radius:25px;
	padding:2px 15px 2px 15px;
	color:white;
	margin-top:10px;
	text-decoration:none;
}

#fb
{
	font-family:Tahoma;
}

#twit
{
	font-family:Gotham;
}

#li
{
	text-decoration:none;
	color:white;
}

/***right end*****/

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}